{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta >
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{% static 'css/all.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}" type="text/css">
        <title>BT Real Estate</title>
    </head>
    <body>
      <!-- Top Bar -->
      {% include 'partials/_topbar.html' %}
      {% include 'partials/_navbar.html' %}

      {% block content %}
      {% endblock content %}

    {% include 'partials/_footer.html' %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/lightbox.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
